<section id="registration-edit">
  <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
    <div class="row align-items-center justify-content-center my-auto">
      <div class="col-md-10 col-lg-8 col-xl-5">
        <div class="card">
          <div class="card-header bg-white text-center ">
            <div class="d-flex justify-content-between align-items-center">
              <h4  class="fs-4">Éditer votre profil <% resource_name.to_s.humanize %></h4>
              <%= link_to "Retour", :back , class: "v-hidden" %>
            </div>
          </div>
          <div class="card-body bg-white" id="form-container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field d-flex flex-column">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="field d-flex flex-column">
                <%= f.label :mot_de_passe %> <i class="inputDescription">(laissez vide si vous ne voulez pas le changer)</i>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <em class="pwLength"><%= @minimum_password_length %> caractères minimum</em>
                <% end %>
              </div>
              <div class="field">
                <%= f.label :confirmation_du_mot_de_passe %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="field d-flex flex-column">
                <%= f.label :mot_de_passe_actuel %> <i class="inputDescription">(nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i>
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control " %>
              </div>
            <div class=" d-flex flex-column mt-5">
              <div class="actions  d-grid mb-2ns">
                <%= f.submit "Editer", class: ("btn btn-lg btn-primary rounded") %>
              </div>
            <% end %>
            <br />
            <p class="mt-4 text-center">Pour vous désinscrire, <%= link_to "cliquez ici.", registration_path(resource_name), data: { confirm: "Voulez-vous vraiment supprimer votre compte ?" }, method: :delete %> </p>
            <%= link_to "<< Retour", :back %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>