<h1>Pannel Administration</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Staff</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |users| %>
    <tr>
      <td><%= users.id %></td>
      <td><%= users.email %></td>
      <td><%= users.admin %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h1>Graphisme d'incription</h1>
  <%= line_chart User.group_by_day(:created_at).count %>
</div>

<div>
  <h1>Graphisme de création de projet</h1>
  <%= column_chart Project.group_by_day_of_week(:created_at, format: "%a").count %>
</div>