
<section>
    <div class="py-5 py-xl-10 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <div class="card">
            <div class="card-header bg-white text-center pb-0">
              <h5 class="fs-3">Changement de mot de passe <h5>
            </div>
            <div class="card-body bg-white pt-2">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>
            <div class="form-floating mb-2">
              <div class="field">
                <%= f.label :password, "Nouveau mot de passe" ,class:'pb-2'%> <br />
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password" ,class:"form-control pt-1"%>
              </div>
            </div>
              <div class="field">
                <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class:'pb-2' %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control pt-1" %>
              </div>

              <div class="d-grid mb-2ns pt-2">
                <%= f.submit "Changer de mot de passe" , class:'btn btn-primary rounded'%>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

