<section>
  <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
    <div class="row align-items-center justify-content-center my-auto">
      <div class="col-md-10 col-lg-8 col-xl-5">
        <div class="card-shadow">
          <div class="card-header bg-white text-center d-flex">
            <%= link_to "<< Retour", :back %> 
            <h5 class="fs-3 mt-5">Mot de passe oublié?</h5>
          </div>
          <div class="card-body bg-white">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-floating">
                <div class="field">
                  <%= f.label :email, class: "mb-2" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control pt-2" %>
                </div>
              </div>
              <div class="actions d-grid mb-2ns mt-3">
                <%= f.submit "Envoyer mon email de récuperation", class: "btn btn-primary rounded" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>