<div class="main-div card-shadow">
  <div class="pt-5 px-0">
    <div class="container">
      <div class="row justify-content-between align-items-center gutter-3 gutter-lg-5">
        <div class="col-lg-14">
          <h2 class="fw-light mb-4">Bienvenue sur <span class="fw-bold mb-4">vos projets</span></h2>
          <p>Ici, vous pouvez retrouver tous vos projets locatifs en cours, en créer de nouveaux et accéder au comparateur de logements. </p>
          <div class="warning-area"><p><span style="font-size:2rem; font-weight: 600;">&#9888;</span> Attention : notre outil permet de conseiller nos utilisateurs en facilitant la comparaison de biens immobiliers selon certains critères déterminés par les utilisateurs eux-mêmes. <br />
          Nous ne pourrons donc être tenus pour responsables des conséquences des achats effectués. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0 py-xl-5 bg-white">
    <div class="container">
      <div class="row g-3 g-xl-5">
        <%@projects.each do |project|%>
          <div class="col-md-6 col-lg-4 aos-init aos-animate" data-aos="fade-up">           
            <%= link_to project_path(project.id), class:"card border card-arrow" do %>
              <div class="card-header">
                <h3 class="card-title"><%=project.title%></h3>
              </div>
              <div class="card-footer">
                <div class="d-flex align-items-center">
                  <div class="ms-2">
                    <p class="mb-0 lh-1"><%=project.localization %></p>
                    <p class="mb-0 lh-1"><%= truncate(project.comment, length:30 )%></p>
                  </div>
                </div>           
              </div>
            <%end%>
          </div>
          <div class="pt-3 px-5">
            <div class="container">
              <div class="row justify-content-end align-items-center gutter-3 gutter-lg-5 ">
                <div class="col-lg-3 ">
                  <%=link_to 'Créer un nouveau projet', new_project_path , class: 'btn btn-primary rounded'%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
