
<h3 class="fs-4">Nouveau projet :</h3>

<div class="card-body">
<%= form_with(model: @project, url: projects_path, method: "post", local: true) do |f| %>


<%= label_tag :title, "Titre du projet *:", class:"form-label" %>
 <%= f.text_field :title, class: 'form-control', value: @project.title%> 

<br />


 <%= label_tag :localization, "Localisation du bien :", class:"form-label" %>
 <%= f.text_field :localization, class: 'form-control', value: @project.localization %> 

<br />



 <%= label_tag :comment, "Vos notes :", class:"form-label" %>
 <%= f.text_area :comment, class: 'form-control', value: @project.comment %>

<br />


 <%= f.submit "Créer un Projet", class:'btn btn-primary rounded' %>



 <%end%>
</div>
<!-->
 <section>
              <h3 class="fs-4">Example</h3>

              <div class="card ">
                <div class="card-body ">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary rounded">Submit</button>
                  </form>
                </div>
              </div>
            </section>
-->