<section class="pt-10 px-0 pb-xl-5">
    <div class="container">
      <div class="row justify-content-between align-items-center gutter-3 gutter-lg-5">
        <div class="col-lg-14">
          <h3>Votre projet <%=@project_title%> qui se situe à: <%=@project_localization%></h3>
            <div class="d-flex flex-row-reverse">
              <a href="<%= edit_project_path %>" class="btn btn-primary rounded-pill  ">Editer Votre projet</a>
              <a href="<%= project_path %>" class="btn btn-danger rounded-pill" data-confirm="Etes vous sur ?" data-method="DELETE">Supprimer votre projet</a>
            </div>
          <p> <%=@project_comment%> </p>
        </div>
      </div>
    </div>
  </section>
  
<section class="py-15 py-xl-20">
    <div class="container mt-5 mt-xl-10">
      

      <div class="row g-1" id="grid1" data-isotope="" style="position: relative; height: 1251px;">
        <div class="col-12 filter-design" style="position: absolute; left: 0px; top: 0px;">
          <%@housings.each do |housing|%>
          <a href="<%= project_housing_path(@housings)%>" class="card bg-white card-hover-border">
            <div class="card-body">
              <div class="row align-items-center g-2 g-md-4 text-center text-md-start">
                <div class="col-md-6">
                  <p class="fs-lg mb-0"><%= housing.property_category%>  //  <%=housing.ad_price%>€  //  <%=housing.localization%> </p>
                  <ul class="list-inline list-inline-separated text-muted">
                    <li class="list-inline-item"><%= housing.comment %>Je suis un commentaires  // je suis un commentaires</li>
                  </ul>
                </div>
                
                
                <div class="col-lg-6 text-end">
                 BOUTON DELETE DE HOUSING
                </div>
              </div>
            </div>
            <% end %>
          </a>
        </div>
        

    </div>
  </section>
<table class="table caption-top">
  <caption>Liste des logements séléctionnés</caption>

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Type de bien</th>
      <th scope="col">Prix de l'offre proposée</th>
      <th scope="col">Rentabilité nette</th>
    </tr>
  </thead>
  <tbody>
  <%@housings.each do |housing|%>
      <tr>
        <th scope="row">1</th>
          <td><%=housing.property_category%></td>
          <td><%=housing.offer_price%></td>
          <td><%=housing.localization%></td>
          <td><%=housing.offer_profitability%></td>
          <td><a class="btn btn-light" href="<%=project_housing_path(housing.project_id, housing.id)%>">Fiche du logement</a></td>
      </tr>
    <%end%>
  </tbody>
    
</table>
    <%=link_to 'Ajouter un logement', new_project_housing_path(@project), class: 'btn btn-primary rounded-pill'%>
    
    