<h1>Statics#contact</h1>

<%= form_tag url_for(action: 'contact'), method: "post" do %>

  <%= label_tag "email" %>
  <%= text_field_tag 'title', @contact_email %>
  <br /> <br />

  <%= label_tag "Title" %>
  <%= text_field_tag 'title', @contact_title %>
  <br /> <br />


  <%= label_tag "Comment(s)" %>
  <%= text_area_tag 'comment', @contact_comment %>
  <br /> <br />


  <%= submit_tag "Contact" %>

<% end %>