
<!--<a href="<%= new_user_session_path%>">sign in </a>-->

<!--<a data-method="delete" href="<%=destroy_user_session_path%>">sign out </a>-->

<section class="cover overflow-hidden bg-black inverted">
    <div class="d-flex flex-column py-20 min-vh-100 container foreground">
      <div class="row justify-content-center my-auto">
        <div class="col-md-8 text-center">
          <h1 class="fw-bold display-1">Devenez rentier sans les mauvaises surprise </h1>
          <a href="" class="btn btn-white rounded-pill">Learn More</a>
        </div>
      </div>
    </div>
    <div class="background background-overlay text-black aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
      <div tabindex="0" class="plyr plyr--full-ui plyr--video plyr--html5 plyr--fullscreen-enabled plyr--hide-controls plyr--playing"><div class="plyr__controls"><button class="plyr__controls__item plyr__control plyr__control--pressed" type="button" data-plyr="play" aria-label="Pause"><svg class="icon--pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-pause"></use></svg><svg class="icon--not-pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="label--pressed plyr__sr-only">Pause</span><span class="label--not-pressed plyr__sr-only">Play</span></button><div class="plyr__controls__item plyr__progress__container"><div class="plyr__progress"><input data-plyr="seek" type="range" min="0" max="100" step="0.01" value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0.703708" id="plyr-seek-6686" aria-valuetext="00:00 of 00:10" style="--value: 7.04%;"><progress class="plyr__progress__buffer" min="0" max="100" value="100" role="progressbar" aria-hidden="true">% buffered</progress><span class="plyr__tooltip">00:00</span></div></div><div class="plyr__controls__item plyr__time--current plyr__time" aria-label="Current time">-00:09</div><div class="plyr__controls__item plyr__volume"><button type="button" class="plyr__control plyr__control--pressed" data-plyr="mute"><svg class="icon--pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-muted"></use></svg><svg class="icon--not-pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-volume"></use></svg><span class="label--pressed plyr__sr-only">Unmute</span><span class="label--not-pressed plyr__sr-only">Mute</span></button><input data-plyr="volume" type="range" min="0" max="1" step="0.05" value="1" autocomplete="off" role="slider" aria-label="Volume" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" id="plyr-volume-6686" aria-valuetext="0.0%" style="--value: 0%;"></div><button class="plyr__controls__item plyr__control" type="button" data-plyr="captions"><svg class="icon--pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-captions-on"></use></svg><svg class="icon--not-pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-captions-off"></use></svg><span class="label--pressed plyr__sr-only">Disable captions</span><span class="label--not-pressed plyr__sr-only">Enable captions</span></button><div class="plyr__controls__item plyr__menu"><button aria-haspopup="true" aria-controls="plyr-settings-6686" aria-expanded="false" type="button" class="plyr__control" data-plyr="settings"><svg aria-hidden="true" focusable="false"><use xlink:href="#plyr-settings"></use></svg><span class="plyr__sr-only">Settings</span></button><div class="plyr__menu__container" id="plyr-settings-6686" hidden=""><div><div id="plyr-settings-6686-home"><div role="menu"><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Captions<span class="plyr__menu__value">Disabled</span></span></button><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Quality<span class="plyr__menu__value">undefined</span></span></button><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true"><span>Speed<span class="plyr__menu__value">Normal</span></span></button></div></div><div id="plyr-settings-6686-captions" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Captions</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"></div></div><div id="plyr-settings-6686-quality" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Quality</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"></div></div><div id="plyr-settings-6686-speed" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Speed</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="0.5"><span>0.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="0.75"><span>0.75×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="true" value="1"><span>Normal</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.25"><span>1.25×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.5"><span>1.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.75"><span>1.75×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="2"><span>2×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="4"><span>4×</span></button></div></div></div></div></div><button class="plyr__controls__item plyr__control" type="button" data-plyr="fullscreen"><svg class="icon--pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-exit-fullscreen"></use></svg><svg class="icon--not-pressed" aria-hidden="true" focusable="false"><use xlink:href="#plyr-enter-fullscreen"></use></svg><span class="label--pressed plyr__sr-only">Exit fullscreen</span><span class="label--not-pressed plyr__sr-only">Enter fullscreen</span></button></div><div class="plyr__video-wrapper"><video playsinline="" autoplay="" muted="" loop="" data-video="">
        <source <%= video_tag 'video-2.mp4' %> type="video/mp4">
      </video><div class="plyr__poster"></div></div><div class="plyr__captions"></div><button type="button" class="plyr__control plyr__control--overlaid plyr__control--pressed" data-plyr="play" aria-label="Pause"><svg aria-hidden="true" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="plyr__sr-only">Play</span></button></div>
    </div>
    </div>
    </div>
    <span class="scroll-down"></span>
  </section>

<section class="py-15 py-xl-20" >
      <div class="container" >
        <div class="row align-items-center justify-content-between" >
            <div class="col-lg-6 mb-5 mb-lg-0" >
              <div class="frame">
              <img <%= image_tag'housing', size: '600x550'%> >
              <span></span>
              </div>
          </div>
          <div class="col-lg-6 col-xl-5">
            <h2 class="fw-bold">Evité les mauvaises surprises</h2>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum animi non
              ut, ratione eos id? Dolore repellendus illum facilis et dolorum officiis totam similique consequuntur,
              magni
              nobis obcaecati voluptatibus!</p>
        </div>
      </div>
      </div>
    </section>
<hr>
    <section class="py-15 py-xl-20 bg-primary">
      <div class="container" >
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 col-xl-5">
            <h2 class="fw-bold">Estimer votre rentabilité</h2>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum animi non
              ut, ratione eos id? Dolore repellendus illum facilis et dolorum officiis totam similique consequuntur,
              magni
              nobis obcaecati voluptatibus!</p>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="frame">
              <img <%= image_tag'housing(1)', size:'600x550'%> >
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </section>
