<h1>FICHE DU LOGEMENT N°<%=params[:id]%> </h1>

<div>
<h3>RECAPITULATIF</h3>
<br />

Prix de l'annonce : <%=@housing.ad_price%> €
<br />
(Rentabilité nette : <%=@housing.ad_profitability%> %)
<br />

Prix de l'offre proposée : <%=@housing.offer_price%> €
<br />
(Rentabilité nette : <%=@housing.offer_profitability%> %)
<br />
Superficie habitable : <%=@housing.area%> m²
<br />
Localisation : <%=@housing.localization%>
 </div>


<div>
Lien de l'annonce : <%=@housing.ad_url%>
<br />
Notes : <%=@housing.comment%>
</div>

<div>
PHOTOS : <%#= image_tag @housing.pictures %>
</div>

<div>
CARACTERISTIQUES :
  <%= link_to "Formulaire", edit_project_housing_path(@housing.id), method: :get, class:'btn btn-primary rounded-pill',:onclick => "alert('Vous allez modifier les informations de ce logement.')"%>
  <br />

  <h3>Somme à financer: </h3>
  <br/>
  Prix de l'annonce : <%=@housing.ad_price%> €
  <br />
  (Rentabilité nette : <%=@housing.ad_profitability%> )
  <br />
  Prix de l'offre proposée : <%=@housing.offer_price%> €
  <br />
  (Rentabilité nette : <%=@housing.offer_profitability%> )
  <br />
   Prix des travaux : <%=@housing.repairs_price%> €
  <br /> 
  Frais de notaire : <%=@housing.notary_fees%> €
  <br />


  <h3>Caractéristiques du bien : </h3>
  <br/>
  Superficie habitable : <%=@housing.area%> m²
  <br />
  Type de bien : <%=@housing.property_category%>
  <br />
  Localisation : <%=@housing.localization%>
  <br />

  <h3>Investissement : </h3>
  <br/>
  Loyer annuel (sur 12 mois) : <%=@housing.annual_rent%> €
  <br />
  Gestion locative : <%=@housing.rental_management%>
  <br />
  Pourcentage de réserve pour entretien : <%=@housing.maintenance_percentage%> €
  <br />

  <h3>Charges : </h3>
  <br />
  Assurance PNO : <%=@housing.pno_insurance%>
  <br />
  Taxe d'habitation : <%=@housing.property_tax%> €
  <br />

  Assurance Loyers Impayés : <%=@housing.rental_unpayment_insurance%>
  <br />
  Charges de copropriété : <%=@housing.building_co_tax%> €

</div>

<%=link_to 'retour', project_path(@housing.project_id) , class: 'btn btn-primary rounded-pill'%>