<div class="m-3">
  <%=link_to project_path(@housing.project_id) , class: 'btn btn-primary rounded  m-5' do%><i class="fas fa-arrow-left"></i> Retour <%end%>
</div>
<h1 style="text-align:center">FICHE DU LOGEMENT N°<%=params[:id]%> </h1> 
<div class="d-flex justify-content-end">
  <%= link_to "Editer", edit_project_housing_path(@housing.id), method: :get, class:'btn btn-primary rounded m-2 '%>
</div>
<div class="d-flex justify-content-center">
  <div class="card-border col-md-6" >
    <div class="card-body">
      <h3 class=" "style="text-align:center">RECAPITULATIF</h3>
      <div class="font-description">
        <p class="card-text">Prix de l'annonce : <%=@housing.ad_price%> €</p>
        <p><i class="fas fa-arrow-right"></i> Rentabilité nette en fonction du prix de l'annonce : <%=@housing.ad_profitability%> %)</p>
        <p> Prix de l'offre proposée : <%=@housing.offer_price%> €</p>
        <p> (<i class="fas fa-arrow-right"></i> Rentabilité nette en fonction du prix de l'offre : <%=@housing.offer_profitability%> %)</p>
        <p> Superficie habitable : <%=@housing.area%> m²</p>
        <p> Localisation : <%=@housing.localization%></p>
        <div>
          <p> Lien de l'annonce : <%=@housing.ad_url%></p>
          <p> Notes : <%=@housing.comment%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align:center" ><br /><br />
  <h4 class="" >CARACTERISTIQUES </h4> 
  <br />
</div>
<div class="container d-flex flex-column gap-25">
  <section >
    <div >
      <div class="row flex-md-column flex-lg-row gap-25 custom-col" id="first-row">
        <div class="col sm-6 m-6">
          <div class="card-border card-height">
            <div class="card-body ">
              <h3 class="" style="text-align:center ">Somme à financer </h3>
              <div class="font-description">
                <p> Prix de l'annonce : <%=@housing.ad_price%> €</p>
                <p> (Rentabilité nette : <%=@housing.ad_profitability%> )</p>
                <p> Prix de l'offre proposée : <%=@housing.offer_price%> €</p>
                <p> (Rentabilité nette : <%=@housing.offer_profitability%> )</p>
                <p> Prix des travaux : <%=@housing.repairs_price%> € </p>
                <p> Frais de notaire : <%=@housing.notary_fees%> €</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col sm-6 m-5">
          <div class="card-border card-height " >
            <div class="card-body">
              <h3 class="" style="text-align:center ">Caractéristiques du bien</h3>  
              <div class="font-description">
                <p> Surface habitable : <%=@housing.area%> m²</p> 
                <p> Type de bien : <%=@housing.property_category%></p> 
                <p> Localisation : <%=@housing.localization%></p> 
                <p> Bien neuf : <%if @housing.new_property == true %> Oui <%else%> Non <%end%> </p>
                <p> Prix des travaux : <%= @housing.repairs_price%>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <div class="row flex-md-column flex-lg-row gap-25 custom-col" id="second-row">
        <div class="col sm-6 m-6">
          <div class="card-border card-height" >
            <div class="card-body ">
              <h3 class="" style="text-align:center ">Investissement </h3>
              <div class="font-description">
                <p> Loyer annuel complet: <%=@housing.annual_rent%></p>
                <p> Pourcentage de vacance locative : <%=@housing.rental_vacancy%> %</p>
                <p> Pourcentage de réserve pour entretien : <%=@housing.maintenance_percentage%> % </p>
                <p> Gestion locative : <%if @housing.rental_management === true%> Oui <%else%> Non <%end%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col sm-6 m-5">
          <div class="card-border card-height" >
            <div class="card-body">
              <h3 class="" style="text-align:center ">Charges</h3>  
              <div class="font-description">
                <p> Taxe d'habitation : <%=@housing.property_tax%> €</p>
                <p> Charges de copropriété : <%=@housing.building_co_tax%> €</p>
                <p> Assurance PNO : <%if @housing.pno_insurance === true%> Oui <%else%> Non <%end%> </p>
                <p> Assurance Loyers Impayés :  <%if @housing.rental_unpayment_insurance === true%> Oui <%else%> Non <%end%> </p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= javascript_include_tag 'show.js' %>