<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-light navbar-sticky" style='position: relative'>
    <div class="container">
      <a href="<%=root_path%>" class="navbar-brand">IMMOTEP</a>

    <!-- secondary -->
    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      
      <% if isUser? %>

      <li class="nav-item dropdown dropdown-hover d-lg-block">
        <a class="nav-link nav-icon" role="button" href="<%= user_path(current_user)%>" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item "
            href="<%= user_path(current_user)%>">Profil Utilisateur</a></li>
          <li><a class="dropdown-item text-red" href="<%= destroy_user_session_path %>" data-method="delete">Deconnection</a></li>
        </ul>
      </li>
      
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href='<%= projects_path %>' role="button"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-book"></i>
        </a>
      </li>

      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="<%= destroy_user_session_path %>" data-method="delete" role="button">
          <i class="fas fa-times"></i>
        </a>
      </li>
    </ul>
    
    <% else %>

    <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href='<%= new_user_registration_path %>' role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-key"></i>
        </a>
      </li>
    </ul>
    
    <%end%>
    <!-- primary -->
    <div class="collapse navbar-collapse" data-bs-parent="#mainNav">
      <ul class="navbar-nav">

        <% if isAdmin? %>
        <li class="nav-item">
          <p class="nav-link" role="button"
            aria-expanded="false">
           <%= link_to 'Pannel Administration', admin_pannel_path %>
          </p>
        <%end%>

        <% if isUser? %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= projects_path %>" role="button"
            aria-expanded="false">
            Dashboard
          </a>
        </li>

        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>" role="button"
            aria-expanded="false">
            Connection
          </a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>" role="button" 
            aria-expanded="false">
            Inscription
          </a>
        <%end%>

        </li>
      </ul>
    </div>
  <!-- mobile user menu -->
    <% begin %>
      <div class="collapse account-collapse" id="navbar" data-bs-parent="#mainNav">
        <ul class="navbar-nav">
          <% if isUser? %>
          <li class="nav-item">
            <a class="nav-link active" href="<%= projects_path %>">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="<%= user_path(current_user)%>">Profil Utilisateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-red" href="<%= destroy_user_session_path %>" data-method="delete">Deconnection</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link " href="<%= new_user_session_path %>">Connection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="<%= new_user_registration_path %>">Inscription</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div> 
    <%end%>
</nav>

<%#= javascript_include_tag 'navbar.js' %>
