  <nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-light" style='position: relative'>
  <div class="container">
    <a href="<%=root_path%>" class="navbar-brand"> <%= image_tag 'logo/logo-dark.svg'%></a>

    <!-- secondary -->
    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="" role="button" data-bs-toggle="collapse" data-bs-target="#userNav"
          aria-expanded="false">
          <i class="bi bi-person"></i>
        </a>
      </li>
       <% if isUser? %>
      <li class="nav-item dropdown dropdown-hover d-none d-lg-block">
        <a class="nav-link nav-icon" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-person"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item active"
              href="<%= %>">Dashboard</a></li>
          <li><a class="dropdown-item "
              href="<%= user_path(current_user)%>">Settings</a></li>
          
          <li><a class="dropdown-item text-red" href="<%= destroy_user_session_path %>"data-confirm="Are you sure?" data-method="delete">Deconnection</a></li>
          <%end%>
        </ul>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="" role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list"></span>
        </a>
      </li>
    </ul>

    <!-- primary -->
    <div class="collapse navbar-collapse" id="navbar" data-bs-parent="#mainNav">
      <ul class="navbar-nav">
        <% if isAdmin? %>
        <li class="nav-item dropdown dropdown-hover">
          <p class="nav-link dropdown-toggle" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
           <%= link_to 'Pannel Administration', admin_pannel_path %>
          </p>
        <%end%>

        <% if isUser? %>
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ce qu'on veut x2 
          </a>
        </li>
        
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" href="<%=  %>" id="navbarDropdown-3" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-auto-close="outside">
            Dashboard
          </a>
        </li>
        <% else %>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" href="<%= new_user_session_path %>" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-auto-close="outside">
            Connection
          </a>
          
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link dropdown-toggle" href="<%= new_user_registration_path %>" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-auto-close="outside">
            Inscription
          </a>
        <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
