<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-light navbar-sticky  position-fixed" >
  <div class="container">

    <div>
      <%=link_to root_path, class:'navbar-brand' do %><%= image_tag "logo1.svg", style: "max-height:40px" %>
      <span style="font-family: 'Bakbak One', cursive; margin-left: 20px;">Immotep </span> 
      <% end %>  
    </div>
  


    
    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      
      <% if isAdmin? %>

        <li class="nav-item d-lg-none">
          <%link_to admin_pannel_path, class:'nav-link nav-icon', role:'button' do %><i class="fas fa-users-cog" title="Pannel Administration"></i> <% end %>
        </li>

      <%end%>

      <% if isUser? %>

      <li class="nav-item dropdown dropdown-hover d-lg-block">
        <%= link_to user_path(current_user), {class:'nav-link nav-icon', :role => 'button', 'id' => 'dropdownMenuButton1', 'data-bs-toggle' => 'dropdown', 'aria-expanded' => 'false' } do %>
        <i class="fa-solid fa-user"></i>
        <% end %> 

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%=link_to 'Mes informations',user_path(current_user), class:'dropdown-item'%></li>
          <li><%=link_to 'Déconnexion',destroy_user_session_path , {class:'dropdown-item text-red','data-method' =>'delete'} %></li>
        </ul>  
      </li>
      
      <li class="nav-item d-lg-none">
        <%=link_to projects_path, {class:'nav-link nav-icon', :role => 'button', 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' } do %>
        <i class="fas fa-book" title="Mes projets"></i>
        <% end %> 
      </li>

      <li class="nav-item d-lg-none">
        <%=link_to destroy_user_session_path , {class:'dropdown-item text-red',:role => 'button','data-method' =>'delete'} do%>
          <i class="fas fa-times" title= "Déconnexion"></i>
        <% end %>
      </li>
    
      <%else%>

      <li class="nav-item d-lg-none">
        <%=link_to new_user_registration_path, {class:'nav-link nav-icon', :role => 'button', 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation','data-bs-toggle' => 'collapse','data-bs-target' => '#navbar'} do %>
        <i class="fa-solid fa-user" title="Inscription"></i>
        <% end %> 
      </li>

    </ul>
    
    <%end%>

    <div class="collapse navbar-collapse" data-bs-parent="#mainNav">
      <ul class="navbar-nav w-100">

        <% if isAdmin? %>

        <li class="nav-item">
          <p class="nav-link" role="button"
            aria-expanded="false">
            <%= link_to 'Pannel Administration', admin_pannel_path %>
          </p>
        </li>

        <%end%>

        <% if isUser? %>
      
        <li class="nav-item ">
            <%=link_to 'Mes projets',projects_path, {class:'nav-link', :role => 'button', 'aria-expanded' => 'false'} %>
        </li>

        <% else %>

        <div class="w-100 d-flex justify-content-end">
            <%=link_to 'Connexion',new_user_session_path, {class:'nav-link', :role => 'button', 'aria-expanded' => 'false'} %>
          </li>

          <li class="nav-item">
            <%=link_to 'Inscription',new_user_registration_path, {class:'nav-link', :role => 'button', 'aria-expanded' => 'false'} %>
          </li>
        </div>

        <%end%>

      </ul>
    </div>
  </div>
</nav>
