<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-light navbar-sticky" style='position: relative'>
  <div class="container">
    <div>
      <a href="<%=root_path%>" class="navbar-brand">
        <%= image_tag "logo1.svg", style: "max-height:40px" %>
        <span style="font-family: 'Bakbak One', cursive; margin-left: 20px;">Immotep </span>    
      </a>
    </div>

    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      
      <% if isAdmin? %>

        <li class="nav-item d-lg-none">
          <a class="nav-link nav-icon" href='<%= admin_pannel_path %>' role="button"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-users-cog" title="Pannel Administration"></i>
          </a>
        </li>

      <%end%>

      <% if isUser? %>

      <li class="nav-item dropdown dropdown-hover d-lg-block">
        <a class="nav-link nav-icon" role="button" href="<%= user_path(current_user)%>" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-user" title="Mes informations"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item " href="<%= user_path(current_user)%>">Mes informations</a></li>
          <li><a class="dropdown-item text-red" href="<%= destroy_user_session_path %>" data-method="delete">Déconnexion</a></li>
        </ul>  
      </li>
      
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href='<%= projects_path %>' role="button"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-book" title="Dashboard"></i>
        </a>
      </li>

      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="<%= destroy_user_session_path %>" data-method="delete" role="button">
          <i class="fas fa-times" title="Déconnexion"></i>
        </a>
      </li>
    
      <% else %>

      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href='<%= new_user_registration_path %>' role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-user" title="Inscription"></i>
        </a>
      </li>

    </ul>
    
    <%end%>

    <div class="collapse navbar-collapse" data-bs-parent="#mainNav">
      <ul class="navbar-nav w-100">

        <% if isAdmin? %>

        <li class="nav-item">
          <p class="nav-link" role="button"
            aria-expanded="false">
            <%= link_to 'Pannel Administration', admin_pannel_path %>
          </p>
        </li>

        <%end%>

        <% if isUser? %>

        <li class="nav-item">
          <a class="nav-link" href="<%= projects_path %>" role="button"
            aria-expanded="false">
            Mes projets
          </a>
        </li>

        <% else %>

        <div class="w-100 d-flex justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>" role="button"
              aria-expanded="false">
              Connexion
            </a> 
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>" role="button" 
              aria-expanded="false">
              Inscription
            </a>
          </li>
        </div>

        <%end%>

      </ul>
    </div>
  </div>
</nav>
